.backgroudHeader {
    width: 100%; /* Largura total da página */
    height: 400px;
    object-fit: cover; /* Corta a imagem para cobrir a área */
    object-position: center; /* Centraliza a imagem horizontalmente */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.layout {
    max-width: 864px;
    width: 100%;
    padding: 0 1rem;
    margin: 0px auto;
}